.app {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}
.body {
  height: calc(100% - 50px);
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  // transform: translateZ(0);
}
