.app {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}
.body {
  height: calc(100% - 50px);
  width: 100%;
  overflow: hidden;
  position: relative;
}

img {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
